.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.digit_container{
    display: flex;
    width: 600px;
    justify-content: center;
}
.digit{
    width: 60px;
    height: 100px;
    position: relative;
    margin-right: 15px;
}

.digit .bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e74c3c;
}

.digit .bar.dimmed{
    background: rgba(231, 76, 60, 0.1);
}

.digit .top{
    clip-path: polygon(0 0, 100% 0, 85% 10%, 15% 10%);
}

.digit .top_right{
    clip-path: polygon(100% 50%, 85% 45%, 85% 10%, 100% 0);
}

.digit .top_left{
    clip-path: polygon(0 50%, 15% 45%, 15% 10%, 0 0);
}

.digit .bottom{
    clip-path: polygon(0 100%, 100% 100%, 85% 90%, 15% 90%);
}

.digit .bottom_right{
    clip-path: polygon(100% 50%, 85% 55%, 85% 90%, 100% 100%);
}

.digit .bottom_left{
    clip-path: polygon(0 50%, 15% 55%, 15% 90%, 0 100%);
}

.digit .middle{
    clip-path: polygon(0 50%, 15% 45%, 85% 45%, 100% 50%, 85% 55%, 15% 55%);
}

.mr-2{
    margin-right: 50px;
}
